body {
  background-color: #ebdbb2;
  color: #282828;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

img {
  width: 2rem;
}

.sidebar {
  font-size: 2rem;
  grid-row: span 2;
}

.logo {
  font-size: 2.3rem;
}

.logo > .icon {
  width: 2.3rem;
}

header {
  display: grid;
}

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-start: 2;
  grid-row-start: 2;
}

.projects {
  font-size: 1.5rem;
  margin-right: 50px;
  grid-column: span 3;
  grid-row: span 3;
}

.cards {
  font-size: 1rem;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.card-actions > .icon {
  width: 1.3rem;
}

.announcements {
  font-size: 1.5rem;
  grid-column-start: 4;
}

.notifications {
  font-size: 1rem;
}

.trending {
  font-size: 1.5rem;
}

.trends {
  font-size: 1rem;
}
